:root {
  /* Colors */
  --clr-primary: #588157;
  --clr-secondary: #FFFFFF;
  --clr-accent: #EEECE8;
  --clr-dark: #293D33;
  --clr-button: #3A5A40;

  /* Fonts */
  --ff-headings: "Montserrat", sans-serif;
  --ff-body: "Montserrat", sans-serif;

  /* Font Weights */
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
}

/* Typography */
* {
  font-family: var(--ff-headings);
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}

a:hover {
  color: var(--clr-dark);
}

.Hero, .Features, .Footer, .SignIn, .SignUp, .ForgotPassword, .ResetPassword, .Navbar {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
}

.Summary, .FAQ {
  color: var(--clr-dark);
}

.btn {
  background-color: var(--clr-button);
  color: var(--clr-accent);
}

.btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-accent);
}

.Icon {
  background-color: var(--clr-accent);
  width: 75px;
  height: 75px;
  border-radius: 20%;
}

.Icon i {
  color: var(--clr-dark);
}

.Hero {
  position: relative;
  overflow: hidden;
}

.Books-background {
  opacity: 10%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

.title {
  position: relative;
  min-height: 33vh;
}

.SignIn, .SignUp, .ForgotPassword, .ResetPassword {
  height: 100vh;
}

nav a {
  color: var(--clr-accent) !important;
}

.dropdown-menu a {
  color: var(--clr-dark) !important;
}

.sign-in-form, .sign-up-form, .forgot-password-form, .reset-password-form {
  color: var(--clr-dark);
  background-color: var(--clr-accent);
}

.HomeLibraryIcon * {
  color: var(--clr-accent) !important;
}

.home-content, .mybooks-content {
  color: var(--clr-dark);
}

.status-item:active {
  background-color: var(--clr-dark);
}

.status-item:hover {
  background-color: var(--clr-button);
  color: var(--clr-accent) !important;
}

.progress {
  background-color: var(--clr-accent);
}

.progress-bar {
  background-color: var(--clr-dark);
}
